Source: imvirt
Section: admin
Priority: extra
Maintainer: Thomas Liske <liske@ibh.de>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: http://www.ibh.de/

Package: imvirt
Architecture: all
Depends: ${perl:Depends}
Recommends: dmidecode
Description: I'm virtualized?
 This perl script tries to detect if it is run in a virtualization
 container.
 .
 Detected virtualizations:
   VirtualBox, Virtual PC/Server, VMware, QEMU/KVM, Xen
